h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(149, 77, 216);
}
h2¨{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(157, 157, 212)
}